<div class="hero-banner" style="background-image: url(/dist/images/banner-bg.png)">

    <div class="l-wrapper">
        <div class="grid">
            <div class="col col-6">
                <h1 class="h1 hero-banner__title">Оформить<br> кредит онлайн</h1>
                <p class="hero-banner__intro">Мы предлагаем удобную альтернативу, которой уже пользуются миллионы украинцев – 
                получение кредита на карту онлайн, просто и не выходя из дома. 
                Вам не нужны поручители, залоги и справки – всего лишь подключение к интернету 
                и активная банковская карта</p>
            </div>
        </div>
        <div class="hero-banner__widget"></div>
    </div>
    
</div>