<div class="feedback">
    <h2 class="feedback__header">Отзывы</h2>
    <div class="swiper-container feedback__slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="feedback__item">
                    <div class="feedback__bio">
                        <img src="/dist/images/feedback-pic.jpg" alt="" class="feedback__img">
                        <div>
                            <p class="feedback__name">Александр Попов</p>
                            <div class="feedback__position">Директор по развитию</div>
                        </div>
                    </div>
                    <div class="feedback__date">18.05.16</div>
                    <p class="feedback__text">Дуже задоволений. Все швидко і дуже просто, 
                    а головне – не потрібно збирати купу непотрібних довідок. 
                    Грошик – хороша і надійна фінансова компанія!!! Дякую!</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="feedback__item">
                    <div class="feedback__bio">
                        <img src="/dist/images/feedback-pic.jpg" alt="" class="feedback__img">
                        <div>
                            <p class="feedback__name">Александр Попов</p>
                            <div class="feedback__position">Директор по развитию</div>
                        </div>
                    </div>
                    <div class="feedback__date">18.05.16</div>
                    <p class="feedback__text">Дуже задоволений. Все швидко і дуже просто, 
                    а головне – не потрібно збирати купу непотрібних довідок. 
                    Грошик – хороша і надійна фінансова компанія!!! Дякую!</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="feedback__item">
                    <div class="feedback__bio">
                        <img src="/dist/images/feedback-pic.jpg" alt="" class="feedback__img">
                        <div>
                            <p class="feedback__name">Александр Попов</p>
                            <div class="feedback__position">Директор по развитию</div>
                        </div>
                    </div>
                    <div class="feedback__date">18.05.16</div>
                    <p class="feedback__text">Дуже задоволений. Все швидко і дуже просто, 
                    а головне – не потрібно збирати купу непотрібних довідок. 
                    Грошик – хороша і надійна фінансова компанія!!! Дякую!</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="feedback__item">
                    <div class="feedback__bio">
                        <img src="/dist/images/feedback-pic.jpg" alt="" class="feedback__img">
                        <div>
                            <p class="feedback__name">Александр Попов</p>
                            <div class="feedback__position">Директор по развитию</div>
                        </div>
                    </div>
                    <div class="feedback__date">18.05.16</div>
                    <p class="feedback__text">Дуже задоволений. Все швидко і дуже просто, 
                    а головне – не потрібно збирати купу непотрібних довідок. 
                    Грошик – хороша і надійна фінансова компанія!!! Дякую!</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="feedback__item">
                    <div class="feedback__bio">
                        <img src="/dist/images/feedback-pic.jpg" alt="" class="feedback__img">
                        <div>
                            <p class="feedback__name">Александр Попов</p>
                            <div class="feedback__position">Директор по развитию</div>
                        </div>
                    </div>
                    <div class="feedback__date">18.05.16</div>
                    <p class="feedback__text">Дуже задоволений. Все швидко і дуже просто, 
                    а головне – не потрібно збирати купу непотрібних довідок. 
                    Грошик – хороша і надійна фінансова компанія!!! Дякую!</p>
                </div>
            </div>
        </div>
        <div class="slider-controls">
            <div class="swiper-button-prev">
                <img src="/dist/images/slider-prev.png" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="/dist/images/slider-next.png" alt="">
            </div>
        </div>
        
    </div>
</div>