<footer class="footer">
    <div class="l-wrapper">
        <div class="grid">
            <div class="col col-6">
                <nav class="footer__nav">
                    <ul class="footer__nav-list">
                        <li class="footer__nav-item"><a href="" class="footer__nav-link">Взять кредит</a></li>
                        <li class="footer__nav-item"><a href="" class="footer__nav-link">Как это работает?</a></li>
                        <li class="footer__nav-item"><a href="" class="footer__nav-link">Отзывы</a></li>
                        <li class="footer__nav-item"><a href="" class="footer__nav-link">О нас</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col col-3">
                <div class="footer__info">
                    <p class="mb15"><strong>Служба поддержки</strong></p>
                    <p><a href="">+38 063 123 4567</a></p>
                    <p><a href="">+38 063 123 4567</a></p>
                    <p><a href="">+38 063 123 4567</a></p>
                </div>
            </div>
            <div class="col col-3">
                <div class="footer__info">
                    <p class=""><strong>Пн-Пт</strong></p>
                    <p class="mb15">с 9-00 до 18-00 без перерывов</p>
                    <p class=""><strong>Сб-Вс</strong></p>
                    <p>выходные</p>
                </div>
            </div>
        </div>
        
        <div class="footer__bottom">
            <div class="footer__copyright">
                © 2018 Всі права захищені! Торгова марка Грошик. 
                ТОВ “Горизонт” Ліцензія видана Національною комісією, 
                що здійснює державне регулювання у сфері ринків 
                фінансових послуг 26.11.2013 (безстрокова)
            </div>
            <div class="footer__developer">
                <span>developed by</span>
                <img src="/dist/images/d2-logo.svg" alt="">
            </div>
        </div>
    </div>
</footer>

<script src="/dist/scripts/scripts.js"></script>
</body>
</html>