<!DOCTYPE html>
<html lang="ua">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content=""/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content=""/>
	<meta property="og:description" content=""/>
	<meta property="og:image" content=""/>
	<link rel="shortcut icon" type="image/ico" href="favicon.ico">
	<link rel="stylesheet" href="/dist/styles/vendor.min.css">
	<link rel="stylesheet" href="/dist/styles/stylesheet.min.css">
</head>
<body>