<header class="header">

    <div class="l-wrapper header__wrapper">
        <a href="" class="header__logo">
            <img src="/dist/images/logo.svg" alt="">
        </a>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a href="" class="header__nav-link">Как это работает?</a>
                </li>
                <li class="header__nav-item">
                    <a href="" class="header__nav-link">Отзывы</a>
                </li>
                <li class="header__nav-item">
                    <a href="" class="header__nav-link">О нас</a>
                </li>
            </ul>
        </nav>

        <a href="" class="btn header__btn"><img src="/dist/images/private-icon.svg" alt=""> <span>Личный кабинет</span></a>
    </div>
</header>