<div class="loyalty">
    <div class="l-wrapper">
        <div class="grid grid--align-center">
            <div class="col col-7">
                <div class="loyalty__pic">
                    <img src="/dist/images/groshik-bg.png" alt="">
                </div>
            </div>
            <div class="col col-5">
                <div class="loyalty__text">
                    <h2 class="loyalty__title">Программа лояльности</h2>
                    <p class="loyalty__intro">Специально разработанная бонусная программа, 
                    которая позволяет накапливать баллы и преобразовывать их в скидку на 
                    постоянно действующую кредитную ставку. Чем больше баллов накоплено – 
                    тем выше позиция в рейтинге и, соответственно, скидка.</p>
                    <a href="" class="loyalty__btn btn">узнать подробнее</a>
                </div>
            </div>
        </div>
    </div>
    
    
</div>