<div class="steps">
    <div class="l-wrapper steps__wrapper">
        <div class="grid grid--stretch">
            <div class="col col-3">
                <div class="steps__item" style="background-image: url(/dist/images/1.png)">
                    <img src="/dist/images/step-1.png" alt="" class="steps__pic">
                    <h2 class="steps__title">Зарегистрируйтесь на сайте</h2>
                    <p class="steps__intro">Простая и быстрая регистрация без справок и поручителей.</p>
                </div>
            </div>
            <div class="col col-3">
                <div class="steps__item" style="background-image: url(/dist/images/2.png)">
                    <img src="/dist/images/step-2.png" alt="" class="steps__pic">
                    <h2 class="steps__title">Отправьте запрос на кредит</h2>
                    <p class="steps__intro">Всего 5 минут на оформление заявки.</p>
                </div>
            </div>
            <div class="col col-3">
                <div class="steps__item" style="background-image: url(/dist/images/3.png)">
                    <img src="/dist/images/step-3.png" alt="" class="steps__pic">
                    <h2 class="steps__title">Дождитесь одобрения</h2>
                    <p class="steps__intro">Наши специалисты дадут ответ в течение 15 минут.</p>
                </div>
            </div>
            <div class="col col-3">
                <div class="steps__item" style="background-image: url(/dist/images/4.png)">
                    <img src="/dist/images/step-4.png" alt="" class="steps__pic">
                    <h2 class="steps__title">Получите ваши деньги</h2>
                    <p class="steps__intro">Всего несколько минут и запрошенные деньги у вас на карте.</p>
                </div>
            </div>
        </div>

    </div>
</div>